.place__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

@media screen and (max-width: 984px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 568px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        margin-left: 16px;
        margin-right: 16px;
    }
}