.places {
    padding: 0 148px 0;
    display: grid;
    gap: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .places {
        padding: 0 48px 0;
    }
}

@media screen and (max-width: 984px) {
    .places {
        padding: 0 24px 0;
        gap: 72px;
    }
}

@media screen and (max-width: 568px) {
    .places {
        padding: 0;
        gap: 50px;
    }
}