.lead {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    padding: 0 148px;
    max-width: 1280px;
}

@media screen and (max-width: 1140px) {
    .lead {
        padding: 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .lead {
        padding: 0;
    }
}
