.footer__link {
    text-decoration-line: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    margin: 0 18px 0 0;
}

.footer__link:last-child {
    margin: 0;
}

@media screen and (max-width: 678px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0 0 32px 0;
    }
    
}