.intro {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 442px 0 148px;
    width: auto;
}

@media screen and (max-width: 1140px) {
    .intro {
        padding-right: 286px;
        padding-left: 48px;
    }    
}

@media screen and (max-width: 984px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 568px) {
    .intro {
        padding-left: 16px;
        padding-right: 16px;
    }
}