.lead__subtitle {
    width: 640px;
    height: 72px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 64px;
}

@media screen and (max-width: 1140px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }    
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
    margin: 16px auto 40px;
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
    }
}