.cover__overlay {
    box-sizing: border-box;
    padding: 20px;
    min-height: 740px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.cover__overlay::before {
    content: ' ';
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1140px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 984px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 568px) {
    .cover__overlay {
        min-height: 200px;
        padding: 16px;
    }
}