.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 8px auto 0 0;
}

@media screen and (max-width: 1140px) {
    .lead__caption {
        margin: 8px auto 0 48px;
    }    
}

@media screen and (max-width: 984px) {
    .lead__caption {
        margin: 8px auto 0 24px;
    }    
}

@media screen and (max-width: 720px) {
    .lead__caption {
        margin: 8px auto 0 16px;
    }    
}