.footer {
    display: flex;  
    justify-content: space-between;
    margin: 0 auto 0;
    padding: 92px 48px 0;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
    
}