.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    padding: 0;
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}


@media screen and (max-width: 984px) {
    .place__paragraph {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }    
}